// Options

//
// Quickly modify global styling by enabling or disabling optional features.

$enable-rounded: false !default;
$enable-shadows: false;
$enable-transitions: true;
$enable-hover-media-query: false;
$enable-grid-classes: true;
$enable-print-styles: true;

// Variables
//
// Colors

$theme-colors: (
  primary: #2b738b,
  secondary: white,
  light: lightgrey,
  dark: #222224,
  info: #ccc,
  success: #28a745,
  warning: #ffc107,
  danger: #dc3545,
);

$body-bg: #222224;
$body-color: white;

$body-color-inverse: invert($body-color) !default;
$link-color: #d9ab2e;

// Fonts
@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@600&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@700&family=Work+Sans:wght@600&display=swap');

@import url("https://fonts.googleapis.com/css2?family=Open+Sans&display=swap");

$font-family-base: "https://fonts.googleapis.com/css2?family=Open+Sans&display=swap", "Open Sans", sans-serif;
$display-font-family: $font-family-base;

$lead-font-size: 1.3rem;

$spacer: 1.5rem;
$headings-font-family: "@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@600&display=swap');", "Work Sans", monospace;





@import "bootstrap-4.1.3";

.center {
}